<!-- src: https://docs.djangoproject.com/en/4.0/intro/tutorial03/ -->
<!-- Your project’s TEMPLATES setting describes how Django will load and render templates. The default settings file configures a DjangoTemplates backend whose APP_DIRS option is set to True. By convention DjangoTemplates looks for a “templates” subdirectory in each of the INSTALLED_APPS. -->
{% if latest_question_list %}
<ul>
	{% for question in latest_question_list %}
	<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
	{% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}
